#app-container {
	font-family: 'Roboto', sans-serif;
	display: flex;
	flex-flow: column;
}

#chart-container {
	flex-grow: 1;
	display: flex;
	flex-flow: row wrap;
	justify-content: flex-start;
}

#chart-menu{
	flex-grow: 1
}

#chart {
	flex-grow: 10;
	align-self: center;
	padding: 10px;
}

.row {
	padding: 20px;
}

.banner {
	color: #FFFFFF;
}

#header {
	text-transform: uppercase;
	background: #762115;
}

#footer {
	background: #19180A;
}